/*
 * Copyright (c) 2021 @filterpaper
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include "cradio.h"

/* Adjusted Cradio pin arrangement */
/* The position of Q and B keys have been swapped */
&kscan0 {
	input-gpios
	= <&pro_micro_d  6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&pro_micro_a  0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&pro_micro_a  1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&pro_micro_a  2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&pro_micro_a  3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&pro_micro_d 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&pro_micro_d 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&pro_micro_d 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&pro_micro_d 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&pro_micro_d  1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&pro_micro_d  2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&pro_micro_d  3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&pro_micro_d  4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&pro_micro_d  5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&pro_micro_d  7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&pro_micro_d  8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	, <&pro_micro_d  9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	;
};

&mt { tapping-term-ms = <230>; };
&lt { quick_tap_ms = <200>; };

/ {
	combos {
		#include "combos.dtsi"
	};

	behaviors {
		hm: homerow_mods {
			compatible = "zmk,behavior-hold-tap";
			label = "home row mods";
			#binding-cells = <2>;
			tapping-term-ms = <230>;
			quick_tap_ms = <0>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
		};
		th: tap_hold {
			compatible = "zmk,behavior-hold-tap";
			label = "tap hold macros";
			#binding-cells = <2>;
			tapping-term-ms = <200>;
			quick_tap_ms = <0>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
		};
	};

	keymap {
		compatible = "zmk,keymap";
		default_layer {
			bindings = <
		// ╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
			 &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P
		// ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			 HMS(A)     HMA(S)     HMC(D)     HMG(F)     &kp G          &kp H      HMG(J)     HMC(K)     HMA(L)     HMS(SEMI)
		// ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			 &kp Z      &kp X      &kp C      TH_V       &kp B          &kp N      TH_M       TH_COMMA   TH_DOT     TH_FSLH
		// ╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
			                        &lt SYM TAB  &th RS(RALT) ENTER   &th RSHFT SPACE  &lt NUM BSPC
		//                                  ╰──────────┴──────────╯   ╰──────────┴──────────╯
			>;
		};
		colemak_layer {
			bindings = <
		// ╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
			 &kp Q      &kp W      &kp F      &kp P      &kp G          &kp J      &kp L      &kp U      &kp Y      &kp SEMI
		// ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			 HMS(A)     HMA(R)     HMC(S)     HMG(T)     &kp D          &kp H      HMG(N)     HMC(E)     HMA(I)     HMS(O)
		// ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			 &kp Z      &kp X      &kp C      TH_V       &kp B          &kp K      TH_M       TH_COMMA   TH_DOT     TH_FSLH
		// ╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
			                        &lt SYM TAB  &mt RS(RALT) ENTER   &mt RSHFT SPACE  &lt NUM BSPC
		//                                  ╰──────────┴──────────╯   ╰──────────┴──────────╯
			>;
		};
		number_layer {
			bindings = <
		// ╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
			 ________   &kp N1     &kp N2     &kp N3   &kp C_VOL_UP     &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &kp DQT
		// ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			 ________   &kp N4     &kp N5     &kp N6   &kp C_VOL_DN     &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp SQT
		// ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			 &kp CAPS   &kp N7     &kp N8     &kp N9     &kp N0         ________   ________   ________   ________   ________
		// ╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
			                                  &mo FNC    &kp ESC        ________   ________
		//                                  ╰──────────┴──────────╯   ╰──────────┴──────────╯
			>;
		};
		symbol_layer {
			bindings = <
		// ╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
			 ________   &kp LBKT   &kp LBRC   &kp RBRC   ________       &kp CARET  &kp LPAR   &kp RPAR   &kp RBKT   &kp TILDE
		// ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			 &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT      &kp AMPS   &kp MINUS  &kp EQUAL  &kp BSLH   &kp GRAVE
		// ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			 &mo FNC    ________   ________   ________   ________       &kp ASTRK  &kp UNDER  &kp PLUS   &kp PIPE   ________
		// ╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
				                              ________   ________       &kp SPACE  &mo FNC
		//                                  ╰──────────┴──────────╯   ╰──────────┴──────────╯
			>;
		};
		function_layer {
			bindings = <
		// ╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
			 &reset     ________   ________   Z_BLE      Z_BT_0         ________   ________   ________   ________   &tog CMK
		// ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			 ________   ________   ________   Z_USB      Z_BT_1         ________   ________   ________   ________   ________
		// ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			 ________   ________   ________   ________   Z_BT_CLR       ________   ________   ________   ________   ________
		// ╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
			                                  ________  &bootloader     Z_SLEEP    ________
		//                                  ╰──────────┴──────────╯   ╰──────────┴──────────╯
			>;
		};
	};
};
