// Copyright 2021 @filterpaper
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include "cradio.h"

&lt {
	tapping-term-ms = <200>;
	quick-tap-ms = <120>;
	flavor = "hold-preferred";
};

&caps_word {
	continue-list = <UNDER MINUS BSPC>;
};

/ {
	behaviors {
		th: tap_hold {
			compatible = "zmk,behavior-hold-tap";
			label = "tap_hold";
			#binding-cells = <2>;
			tapping-term-ms = <200>;
			quick-tap-ms = <120>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
		};
		gresc: grave_escape {
			compatible = "zmk,behavior-mod-morph";
			label = "grave_escape";
			#binding-cells = <0>;
			mods = <(MOD_LGUI|MOD_RGUI)>;
			bindings = <&kp ESC>, <&kp GRAVE>;
		};
	};

	combos {
		compatible = "zmk,combos";
		/* Combo key positions
		    0  1  2  3  4       5  6  7  8  9
		   10 11 12 13 14      15 16 17 18 19
		   20 21 22 23 24      25 26 27 28 29
		              30 31  32 33            */
		// layer toggle
		COMBO(numb,   &tog NUM, 33 25)
		// vimac shortcuts
		COMBO(vimacf, &kp LS(LC(LA(LG(F)))), 12 13)
		COMBO(vimacj, &kp LS(LC(LA(LG(J)))), 16 17)
		// volume controls
		COMBO(vol_up, &kp C_VOL_UP,  9 19)
		COMBO(vol_dn, &kp C_VOL_DN, 19 29)
	};

	keymap {
		compatible = "zmk,keymap";
		default_layer {
			bindings = <
		//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
			&kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P
		//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			HRML(A,        S,         D,         F)     &kp G          &kp H      HRMR(J,        K,         L,        SQT)
		//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			&kp Z      &kp X      &kp C      &kp V      &kp B          &kp N      TH(M,       COMMA,       DOT,       FSLH)
		//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
			                       &lt SYM TAB  &th RS(RGUI) ENTER   &th RSHFT SPACE  &lt NUM BSPC
		//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
			>;
		};
		colemak_layer {
			bindings = <
		//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
			&kp Q      &kp W      &kp F      &kp P      &kp G          &kp J      &kp L      &kp U      &kp Y      &kp SQT
		//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			HRML(A,        R,         S,         T)     &kp D          &kp H      HRMR(N,        E,         I,         O)
		//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			&kp Z      &kp X      &kp C      &kp V      &kp B          &kp K      TH(M,       COMMA,       DOT,       FSLH)
		//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
			                                 ________   ________       ________   ________
		//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
			>;
		};
		number_layer {
			bindings = <
		//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
			________   &kp N1     &kp N2     &kp N3   &kp C_VOL_UP     &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &kp COLON
		//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			________   &kp N4     &kp N5     &kp N6   &kp C_VOL_DN     &kp LARW   &kp DARW   &kp UARW   &kp RARW   &kp SEMI
		//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
		   &caps_word  &kp N7     &kp N8     &kp N9     &kp N0         ________   NAV_DN     NAV_UP     ________   ________
		//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
			                                 &mo FNC    &gresc         ________   ________
		//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
			>;
		};
		symbol_layer {
			bindings = <
		//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
			________   &kp LBKT   &kp LBRC   &kp RBRC   ________       &kp CARET  &kp LPAR   &kp RPAR   &kp RBKT   &kp TILDE
		//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			&kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT      &kp AMPS   &kp MINUS  &kp EQUAL  &kp BSLH   &kp GRAVE
		//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			________   ________   ________   ________   ________       &kp ASTRK  &kp UNDER  &kp PLUS   &kp PIPE   ________
		//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
				                             ________   ________       ________   &mo FNC
		//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
			>;
		};
		function_layer {
			bindings = <
		//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
			&reset     ________   ________   ________   Z_BT_0         ________   ________   ________   &kp INS    &tog CMK
		//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
		  &bootloader  ________   ________   ________   Z_BT_1         ________   ________   ________   ________  &bootloader
		//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			Z_SLEEP    ________   ________   Z_BT_CLR   Z_BT_2         ________   ________   ________   &kp DEL    ________
		//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
			                                 ________   ________       ________   ________
		//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
			>;
		};
	};
};
